
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,800;1,200;1,400;1,500;1,600;1,800&family=Work+Sans:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,200;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
}
/* header section style */
/* navigation section */
header{
 max-width: 1400px; 
}
.nav-section{
  background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.navber{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.logo-container{
  display: flex;
  align-items: center;
}
.logo-img{
  width: 80px;
}
.logo-title{
  text-align: center;
font-size: 2.75rem;
font-weight: 700;
}
.logo-title>span{
  color:#FF42A5 ;
}
.nevigation-container{
  /* width: 50%; */
}
.nevigation-menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navigation-item{
  list-style: none;
}
.navigation-item>a{
  text-decoration: none;
  color: #3C354F;
text-align: center;
font-size: 1.12rem;
font-weight: 500;
margin-right: 30px;
}
.navigation-item .follow-btn{
 border-radius: 8px;
 padding: 14px;
background: rgba(11, 2, 35, 0.1); 
color: #3C354F;
text-align: center;
font-size: 1.12rem;
font-weight: 500;
border: 0;
}
.fa-brands{ margin: 5px;}
/* banner section */
.banner-section{
  width: 100%;
  margin: 0 auto;
   display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.banner-container{
  width: 100%;
  margin: 0 auto;
   display: flex;
flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.content-part{
  width: 50%;
background-image:url(images/Group\ 14.png);
 background-repeat: no-repeat;
 background-size: 100% 100%;
 background-position: left top;
}
.banner-content{
 padding:103px;
 width: 100%;
 height: 100%;
}
.title-description{
  color: #0B0223;
font-size: 3rem;
font-weight: 600;
text-align: left;
text-transform: uppercase;
padding: 0px;
margin: 0px;
}
.title{
font-size: 4.5rem;
width: 100%;
font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
margin-top: 0;
margin-bottom: 0;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.description{
  width: 100%;
  color: #534C64;
font-size: 1.25rem;
font-weight: 500;
}
.banner-btn .btn-2{
  padding: 10px 20px;
  border-radius: 20px;
  background: #4EC5F7;
  color: #FFF;
  border: 0;
}
.banner-btn .btn-1{
  padding: 10px 20px;
  border-radius: 20px;
  background: #FF42A5;
  margin-right: 10px;
  border: 0;
  color: #FFF;
}

.banner-image{
  width: 550px;
  height: 100%;
}
.group-img{
  width: 100%;
  height: 100%;
 padding-right: 50px;
}
/* main part style */
main{
  width: 100%;
  margin: auto;
}
/* online game section style */
.online-game{
  width: 90%;
  margin:0 auto;
  margin-bottom: 100px;
}
.online-heading{
  color: #0B0223;
text-align: center;
font-size: 3rem;
font-weight: 700;
margin-bottom: 0px;
}
.funny{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.online-description{
  color: #534C64;
text-align: center;
font-size: 1.6rem;
font-weight: 400;
}
.card-container{
  width: 100%;
  margin: auto;
}
.card-wraper{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card{
  width: 280px;
  margin: auto;
}
.image{
  width: 100%;
position: relative;
}
.image>img{
  width: 100%;
  margin: auto;
  display: block;
  margin: auto;
}
.content{
  width: 100%;
  margin:auto ;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0,0, 0.5);
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.5s;
  gap: 0px;
  border-radius: 12px;
  border: 5px solid white;
}
.content:hover{
  opacity: 1;
  border: 5px solid violet;
  color:violet;
}
.content>h2{
  color:#f0f0f0;
}
.content>button{
  margin-top:145px ;
  border-radius: 10%;
  border: 0;
  font-size: 2;
  color: rgba(175, 40, 135, 1);
  background-color: white;
} 
 .content>button:hover{
  color: red;
}
.content>h2:hover{
  color: red;
} 
.image-description{
  color: #534C64;
font-size: 1.12rem;
font-weight: 500;
}
/* play game section style */
.play-game-section{
  width: 90%;
  margin: auto;
  margin-top: 0;
}
.play-game-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse ;
}
.play-game-content{
  width: 40%;
  /* margin-left: 100px; */
  align-items: center;
  padding-bottom:250px;
}
.play-game-title{
font-size: 3rem;
font-weight: 700;
text-align: left;
margin-bottom: 5px;
padding-top:-250px;
}
.play-game-title>span{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.play-game-description{
  color: #534C64;
font-size: 1.12rem;
font-weight: 400; 
text-align: left;
margin-top: 20px;
}
.play-game-image-part{
  width: 50%;
}
.play-large-img{
  width: 100%;
  height: 100%;
}
.side-img{
  width: 30%;
  position: relative;
  top: -120px;
  left: 500px;
  border-radius: 8px;
}
/* icon title section */
.icon-title-container{
  width: 85%;
  margin: auto;
display: flex;
align-content: center;
justify-content:center;
flex-wrap: wrap;
gap: 20px;
margin-bottom: 50px;
}
.icon-button>button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  border-radius: 30px;
  border: 0;
  padding: 5px 15px;
  margin-bottom: 20px;
  transition: 0.5s;
  border: 2px solid #FFF;

}
.icon-button>button:hover{
  color: #FF42A5;
  border: 2px solid #FF42A5;
}
.icon-button>button>div>img{
  width: 50px;
}
.icon-button>h4{
  color: #0B0223;
font-size: 1.25rem;
font-weight: 600;
}
/* footer section style */
.footer-section{
  width: 100%;
  background-color: #0B0223;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-container{
  width: 70%;
  margin: auto;
  padding-bottom: 50px;
}
.logo-name{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0;
  margin-bottom: 0;
}
.logo-name>img{
  width: 55px;
}
.logo-name>h3{
  text-align: center;
font-size: 2.5rem;
font-weight: 700;
color: #FFF;
}
.logo-name>h3>span{
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.service{
   width: 100%;
   display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}
.service>h5{
  color: #FFF;
text-align: center;
font-size: 1.08rem;
font-weight: 600;
margin-right: 20px;
margin-bottom: 30px;
}
.logo{
   width: 100%;
  text-align: center;
margin-bottom: 10px;
}
.logo>a{font-size: 2rem;
margin-bottom: 30px;}
.condition{
   width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;}
  .condition>p{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 1rem;
font-weight: 500;
margin-right: 20px;
  }
.footer-container>p{
   width: 100%;
  color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 1rem;
font-weight: 500;
margin-top: 0px;
}


@media screen and (max-width:576px) {
  .navber, .nevigation-menu,.card-wraper,
  .play-game-container{
    flex-direction: column;
  }
  .banner-container{
    flex-direction: column;
  }
  .nevigation-menu{
    width: 100%;
    align-items: center;
  }
   .navigation-item{
    margin-bottom: 20px;
  }
  .banner-image{
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
  }
   .content-part{
    width: 100%;
  }
  .banner-content{
    width: 100%;
    margin: auto;
    padding: 60px;
  }
  .title-description{
    font-size: 2rem;
  }
  .title{font-size:3rem ;}
  .description{
    font-size:1rem ;
  }
  .group-img{
    width: 100%;
    padding: 5px;
  }
  .card{
    width: 100%;
    margin: 0 auto;
  }
  .image-description{
font-size: 1.12rem;
text-align: center;
}
.play-game-container{
width: 100%;
margin-top: 0;
}
.play-game-content{
  width: 100%;
  margin:0 auto;
  padding-bottom: 0;
  margin-bottom: 30px;
}
.play-game-title,.play-game-description{
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
.play-game-image-part{
  width: 100%;
  margin: 0 auto;
}
.play-large-img{
  width: 90%;
}
.side-img{
  width: 30%;
  position: relative;
  top: -80px;
  left: 260px;
  border-radius: 8px;
}
.icon-title-container{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 5px;
  margin-bottom: 30px;
}
.icon-button>button{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width:100%;
  margin: 0;
  padding: 0;
  margin-right: 2px;
  margin-bottom: 15px;
  border-radius: 20px;
  gap: 2px;
}
.icon-button>button>div>img{
  width: 20px;
  padding: 0;
}
.icon-button>div>h4{
font-size: 0.8rem;
}
.footer-section{
  width: 100%;
}
.footer-container{
  width: 90%;
  margin: auto;
}
.service,.logo{
  margin-top: 0px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-bottom: 10px;
}
.condition{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
  
}

@media screen and (min-width:576px) and (max-width:960px) {
   .navber,.banner-container,.play-game-container{
    flex-direction: column;
   }
   .banner-image{
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
  }
  .content-part{
    width: 100%;
  }
  .banner-content{
    width: 80%;
    margin: auto;
  }
  .card-wraper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
  }
  .card{
    width: 100%;
  }
  .image-description{
    text-align: center;
    font-size: 1.3rem;
  }
.play-game-container{margin-top: 0;
margin-bottom: 0;}
.play-game-image-part{
width: 100%;
margin-top: 0;
margin-bottom: 0;
}
.play-game-content{
  width: 90%;
  margin:0 auto;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 30px;
}
.play-game-title,.play-game-description{
  text-align: center;
}
.play-game-description{
font-size: 1.5rem;
margin-top: 20px;
}
.play-large-img{
  width: 90%;
  margin-top: 0;
}
.side-img{
  width: 30%;
  position: relative;
  top: -130px;
  left: 490px;
  border-radius: 8px;
}
.icon-title-container{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 5px;
}
.icon-title-container{
  margin-bottom: 40px;
}
.icon-button>button{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width:80%;
  margin: 0;
  padding: 0;
  margin-right: 2px;
  margin-bottom: 15px;
  border-radius: 20px;
  gap: 2px;
}
.icon-button>button>div>img{
  width: 50px;
  padding: 0;
}
.icon-button>div>h4{
font-size: 1.5rem;
}

.footer-section{
  width: 100%;
}
.footer-container{
  width: 90%;
  margin: auto;
}

}